---
import Default from '../../layouts/Default.astro';
import BackButton from '../../components/BackButton.astro';
import '../../styles/global.css';
import '../../styles/devlog.css';
import { getCollection } from 'astro:content';
import Identicon from '../../components/Identicon.astro';

const allPosts = await getCollection('devlog');
// allPosts.sort((a: any, b: any) => Date.parse(b.data.date) - Date.parse(a.data.date))
const today = new Date();
const formattedToday = `${today.toLocaleString("default", {
          month: "short",
        })} ${today.getDate()} ${today.getFullYear()}`;
const numProjects = allPosts.length;
---

<Default title="Devlog">
  <main>
    <BackButton title='home' href='/'/>
    <h1 class="title text-gradient">/devlog</h1>
    <sub style="color: gray">ll /var/log</sub>
    <hr>
    <p class="ls-output"><a href={`/devlog`}>dr-xr-xr-x {numProjects+2} mano&nbsp;&nbsp;4096 {formattedToday}&nbsp;.</a></p>
    <p class="ls-output"><a href={`/`}>dr-xr-xr-x 2 mano&nbsp;&nbsp;4096 {formattedToday}&nbsp;..</a></p>
    {
      allPosts.map((post: any) => {
        const date = new Date(post.data.date);
        const formattedDate = `${date.toLocaleString("default", {
          month: "short",
        })} ${date.getDate()} ${date.getFullYear()}`;
        const numPosts = allPosts.filter(p => p.data.project === post.data.project).length;
        return (
          <p class="ls-output"><a href={`/devlog/${post.data.project}`}>dr-xr-xr-x {numPosts+2} mano&nbsp;&nbsp;4096 {formattedDate}&nbsp;{post.data.project}/</a></p>
        );
      })
    }
  </main>
</Default>