---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import { Image } from 'astro:assets';
import mano0 from '../images/mano0.png';
import mano1 from '../images/mano1.png';
import mano2 from '../images/mano2.png';
import mano3 from '../images/mano3.png';
import mano4 from '../images/mano4(1).png';
import mano5 from '../images/mano5.png';
import mano6 from '../images/mano6.png';
import '../styles/home.css';
---

<Layout title="mano">
	<main>
	<div class="imagecontainer">
		<div class="titleimages">
			<Image class="crop-image" src={mano6} alt="mano" />
			<Image class="crop-image" src={mano0} alt="mano" />
			<Image class="crop-image" src={mano2} alt="mano" />
			<Image class="crop-image" src={mano1} alt="mano" />
			<Image class="crop-image" src={mano3} alt="mano" />
			<Image class="crop-image" src={mano4} alt="mano" />
			<Image class="crop-image" src={mano5} alt="mano" />
		</div>
	</div>
		<hr>
		<h1 class="title">welcome to my memory palace</h1>
		<span class="brain">
			<Card title='Brain Pickings' body="A collection of some stuff I've written" href='/blog'/>
			<Card title='Projects' body="Curated list of my many projects" href='f'/>
		</span>
	</main>
</Layout>

