---
const allPosts = await Astro.glob('../pages/posts/*.md');
---

<div>
    {allPosts.map((post: any) => {
      const date = new Date(post.frontmatter.date);
      const formattedDate = `${date.toLocaleString('default', { month: 'long' })} ${date.getDate()}, ${date.getFullYear()}`;
      return (
        <article>
          <h3><a href={post.url}>{post.frontmatter.title} <span class="subheading"> &mdash; {formattedDate}</span></a></h3>
        </article>
      );
    })}
</div>

<style>
    a {
        color: #ffffff;
        text-decoration: none;
    }

    a:hover {
        /* gradient */
        background: -webkit-linear-gradient(#e5a9a9, #805ede);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .subheading {
        font-size: 1rem;
        font-weight: 400;
        color: #cacaca;
        margin-left: 0.5ch;
    }
</style>