---
import "../styles/global.css";
import Default from "./Default.astro";
import type { CollectionEntry } from "astro:content";
import BackButton from "../components/BackButton.astro";
import Identicon from "../components/Identicon.astro";

type Props = CollectionEntry<"bp-posts">["data"];

const { title, date } = Astro.props;

const newpubDate = new Date(date);
const formattedDate = `${newpubDate.toLocaleString("default", {
	month: "long",
})} ${newpubDate.getDate()}, ${newpubDate.getFullYear()}`;
---

<Default title={title}>
	<main>
		<BackButton title="brain pickings" href="/brain-pickings" />
		<h1 class="title text-gradient">{title}</h1>
		<span class="date-line">
			<sub class="subheading">{formattedDate}</sub>
			<Identicon title={title}/>
		</span>
		<hr>
		<slot />
	</main>
</Default>

<style>
	img {
		width: 100px;
		height: 100px;
		border-radius: 50%;
	}

	.date-line {
		display: flex;
		flex-grow: 1;
		justify-content: space-between;
		align-items: center;
	}

	.subheading {
		font-size: 1rem;
		font-weight: 400;
		color: #cacaca;
		text-wrap: nowrap;
	}

	.title {
		font-size: 200%;
      max-width: 100%;
	}
</style>